<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @condition.CONDITION %>
</p>
<p> Research Doctors</p>
<ul>
<% @condition.investigators.first(15).each do |investigator| %>
<li><%= link_to investigator.NAME_DEGREE, investigator %></li>
<% end %>
</ul>
<br>
<br>

<p> Relevant Studies</p>
<ul>
<% @condition.studies.first(15).each do |study| %>
<li><%= link_to study.BRIEF_TITLE, study %></li>
<% end %>
</ul>
<br>
<br>

<p> Helpful Interventions</p>
<ul>
<% @condition.interventions.first(15).each do |intervention| %>
<li><%= link_to intervention.INTERVENTION_NAME, intervention %></li>
<% end %>
</ul>
<br>
<br>


<%# list of studies %>
<%# list of investigators  %>
<%# list of sponsors %>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
