<%= form_with(model: investigator, local: true) do |form| %>
  <% if investigator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investigator.errors.count, "error") %> prohibited this investigator from being saved:</h2>

      <ul>
      <% investigator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :NAME_DEGREE %>
    <%= form.text_field :NAME_DEGREE %>
  </div>

  <div class="field">
    <%= form.label :ROLE %>
    <%= form.text_field :ROLE %>
  </div>

  <div class="field">
    <%= form.label :FACILITY_NAME %>
    <%= form.text_field :FACILITY_NAME %>
  </div>

  <div class="field">
    <%= form.label :CITY %>
    <%= form.text_field :CITY %>
  </div>

  <div class="field">
    <%= form.label :STATE %>
    <%= form.text_field :STATE %>
  </div>

  <div class="field">
    <%= form.label :ZIP %>
    <%= form.text_field :ZIP %>
  </div>

  <div class="field">
    <%= form.label :COUNTRY %>
    <%= form.text_field :COUNTRY %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
