<h1>Investigator</h1>

<%= @investigator.NAME_DEGREE %><br>
<%= @investigator.ROLE %><br>
<%= @investigator.FACILITY_NAME %>
<%= @investigator.CITY %>
<%= @investigator.STATE %>
<%= @investigator.ZIP %>
<%= @investigator.COUNTRY %><br><br>

<h2>Study</h2>
<%= @investigator.study_title %><br>
<%= @investigator.study_summary %><br><br>

<h2>Conditions</h2>
<%= @investigator.find_conditions %><br><br>

<h2>Interventions</h2>
<%= @investigator.find_interventions %><br><br>

<!-- <a href="/investigators">All Investigators</a> -->

<%= link_to 'Home', studies_path %>
<%= link_to 'Investigators', investigators_path %>
