<h1>Investigator</h1>

<%= @investigator.NAME_DEGREE %><br>
<%= @investigator.ROLE %><br>
<%= @investigator.FACILITY_NAME %>
<%= @investigator.CITY %>
<%= @investigator.STATE %>
<%= @investigator.ZIP %>
<%= @investigator.COUNTRY %><br><br>


<%= link_to 'Studies', studies_path %>
<%= link_to 'Interventions', interventions_path %>
<%= link_to 'Conditions', conditions_path %>