<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @investigator.NAME_DEGREE %>
</p>

<p>
  <strong>Role:</strong>
  <%= @investigator.ROLE %>
</p>

<p>
  <strong>Facility name:</strong>
  <%= @investigator.FACILITY_NAME %>
</p>

<p>
  <strong>City:</strong>
  <%= @investigator.CITY %>
</p>

<p>
  <strong>State:</strong>
  <%= @investigator.STATE %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @investigator.ZIP %>
</p>

<p>
  <strong>Country:</strong>
  <%= @investigator.COUNTRY %>
</p>

<p><strong>Specialties:</strong></p>
  <ul><% @investigator.conditions.each do |condition|%>
  <li><%= condition.CONDITION %></li>
  <% end %>
</ul>

<%#= button_to 'Add to list', new_list_path, method: :get%>
<%= link_to 'Edit', edit_investigator_path(@investigator) %> |
<%= link_to 'Back', investigators_path %>
