<p id="notice"><%= notice %></p>

<h4><%= flash[:messages] %></h4>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<h1>My lists:</h1>

<% @user.lists.each do |list| %>

  <h4><%= list.name %></h4> <br>
  <% list.investigators.each do |investigator| %>
    <li><%= link_to investigator.NAME_DEGREE, investigator%> ,
    <%= investigator.FACILITY_NAME %> ,
    <%= investigator.CITY %>
    </li>
  <% end %>

<% end %>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Find a Doctor', investigators_path  %>
