<p id="notice"><%= notice %></p>

<h1>Sponsors</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>Sponsor type</th>
      <th>Agency class</th>
      <th>Nct id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.AGENCY %></td>
        <td><%= sponsor.SPONSOR_TYPE %></td>
        <td><%= sponsor.AGENCY_CLASS %></td>
        <td><%= sponsor.NCT_ID %></td>
        <td><%= link_to 'Show', sponsor %></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsor', new_sponsor_path %>
