<p id="notice"><%= notice %></p>

<h1>Studies</h1>

<table>
  <thead>
    <tr>
      <th>Brief title</th>
      <th>Overall status</th>
      <th>Start date</th>
      <th>Completion date</th>
      <th>Phase</th>
      <th>Enrollment</th>
      <th>Study type</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.first(25).each do |study| %>
      <tr>
        <td><%= link_to study.BRIEF_TITLE, study %></td>
        <td><%= study.OVERALL_STATUS %></td>
        <td><%= study.START_DATE %></td>
        <td><%= study.COMPLETION_DATE %></td>
        <td><%= study.PHASE %></td>
        <td><%= study.ENROLLMENT %></td>
        <td><%= study.STUDY_TYPE %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
