<h1>Study</h1>


<h2>Title</h2>
<%= @study.BRIEF_TITLE %><%= @study.OVERALL_STATUS %><br>
<h3>Summary</h3>
<%= @study.BRIEF_SUMMARY %><br>
<h3>Study Type</h3>
<%= @study.STUDY_TYPE %><br>
<h3>Phase</h3>
<%= @study.PHASE %><br>
<h3>Gender</h3>
<%= @study.GENDER %><br>

<%= @study.ENROLLMENT %>
<%= @study.ENROLLMENT_TYPE %>


<%= @study.MINIMUM_AGE %>
<%= @study.MAXIMUM_AGE %>
<%= @study.URL %>


<h2>Condition</h2>
<%= @study.find_conditions %><br>

<h2>Investigators</h2>
<%= @study.find_investigators %><br>

<h2>Interventions</h2>
<%= @study.find_interventions %><br><br>

<%= link_to 'Home', studies_path %>







