<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Mysql</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# datatable CDN links %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <%# --------------%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if @logged_in %>
     <p>Logged in as: <%= link_to @current_user.username, @current_user %></p>
     <%= button_to "Log out #{@current_user.username}", "/logout", method: :delete%>
  <% else  %>
    <%= link_to "Log in here", new_login_path %>
    <%= link_to "Create a registration", new_user_path %>
  <% end  %>

    <%= yield %>
  </body>
</html>
